.body {
  font-size: 16px;
  font-family: "Raleway", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif !important;
}

.container-body {
  padding: 1rem 2rem !important;
}
p {
  color: blue;
  font-family: "Raleway", sans-serif !important;
}
.card {
  background-color: rgb(200, 212, 226);
  font-family: "Raleway", sans-serif !important;
  color: white;
 
}
.btn {
  background-color: rgb(86, 135, 192);
  font-family: "Raleway", sans-serif !important;
  color: white;
}
